{% extends "main_layout.html" %}

{% block title %}
  vote
{% endblock title %}

{% block content %}
  <h3 class="text-center mb-4">Vote Question</h3>
  
  {% if question_list %}
    
    {% for question in question_list %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ question.question_title }}</h5>
          <a href="{% url 'vote:detail' question.id %}" class="btn btn-outline-warning">Vote</a>
          <a href="{% url 'vote:result' question.id %}" class="btn btn-outline-success">Result</a>
        </div>
      </div>
    {% endfor %}
      
  {% else %}
    <h4 class="text-center">cilukba ga ada vote</h4>
  {% endif %}

    
{% endblock content %}